body {
	margin: 0;
	font-family: Helvetica;
}

#header {
	box-sizing: border-box;
	padding: 50px;
	background-color: #333;
	text-align: center;
	margin-bottom: 25px;
}

#title {
	margin: 0;
	color: #fff;
}

.content {
	padding: 20px;
	margin: 0;
	background-color: #eee;
}

#clickers {
	margin-top: 50px;
	text-align: center;
}

.clicker {
	text-align: center;
	padding: 10px 50px;
	text-decoration: none;
	color: #fff;
}
.clicker:hover {
	background-color: #eee !important;
	color: #111;
}